#Vector_32 {
  animation: jump 2s infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes jump {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-150px);
  }

  100% {
    transform: translateY(0px);
  }
}
